*{
    margin:0;
    padding:0;
}
.main-container nav{
    padding: 2% 8%;
    font-size: smaller;
}
.burger-nav{
  display: none;
}
body{
    font-family: sans-serif;
    background-color: rgb(238, 238, 238);
}
.navLogo{
    position: relative;
    top: -6px;
    width: 89px;
}
.nav-item{
    color:black;
    font-weight:bolder;
    text-decoration: none;
    float: left;
    padding: 10px;
}
.dropdown{
position:relative;
display: inline-block;
}
.dropdown-content{
display: none;
position: absolute;
z-index: 1;
background: white;

}
.dropdown:hover .dropdown-content {
    display: block;
    width: 80%;
  }

.spaces{
    margin-left: 40%;
}
.greyed{
    color: rgb(123, 120, 117);
}
.blackbtn {
    padding: 10px 30px;
    background-color: black;
    border-radius: 5px;
    color: azure;
    margin-top: 4px;
}

.centerText{
    font-size: 3.5vw;
    text-align: center;
    padding: 5% 34%;
}
.purpled{
    color: rgb(149, 36, 255);
}
.centerpadding{
    padding: 0px 30px;
}

.purplebtn {
    padding: 20px 30px;
    background-color: rgb(171, 92, 244);
    border-radius: 5px;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    position: relative;
    left: 44%;
    font-size: small;
  }

.column {
    float: left;
    width: 20%;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .whitebox{
    padding: 43px 12px;

    margin: 37px;
    background-color: white;
    border-radius: 5px;
    color: black;
    position: relative;
  }
  .whitebox ul{
      list-style: none;
  }

  .whitebox li{
    display: flex;
    justify-content: center;
    padding: 5px;
  
  }
  .whitebox ul li img{
      width: 33%;
      
  }
  .whitebox ul li span{
    font-size: small;
    font-weight: bolder;
}
 
  .paddingrc{
      padding: 40px;
  }

.whitebg{
    background: white;
    text-align: center;
    
}


.column2p {
    float: left;
    width: 50%;
  }
  .row2p{
      padding:100px;
  }
  
  .row2p:after {
    content: "";
    display: table;
    clear: both;
  }
  .whitebg_c1{
    background: white;
    
    
}
.whitebg_c1 h6{
    padding-top: 8px;
    font-weight:lighter;
}
.whitebg_c2{
    background: white;
    
    
}
.whitebg_c2 h6{
    padding-top: 8px;
    font-weight:lighter;
}



.column3p {
    float: left;
    width: 33.33%;
  }
  
  
  .row3p:after {
    content: "";
    display: table;
    clear: both;
  }
  .whitebox3c{
    padding: 43px 12px;

    margin: 37px;
    background-color: white;
    border-radius: 5px;
    color: black;
    position: relative;
  }
  .colText3c{
    padding-top: 30px;
    
}
.colText3c h6{
    padding-top: 10px;
}
.roundnum {
    border: 3px solid lightgrey;
    border-radius: 50px;
    padding: 8px;
    font-size: 12px;
    width: 15px;
    font-family: sans-serif;
    color: grey;
}

.column2p_1 {
    float: left;
      }
.leftcol{
    width: 10%;
}
.rightcol{
    width:90%;
}
  .row2p_1{
        
        padding-bottom: 34px;
  }
  
  .row2p_1:after {
    content: "";
    display: table;
    clear: both;
  }
.lightbluecard{
    background: rgb(245, 245, 255);
    border-radius: 15px;
    padding: 30px 15px;
    margin-left: 100px;
    margin-right: 34px;
}

.cardsm {
    border-radius: 15px;
    background: rgb(255, 255, 255);
    padding: 34px;
 text-align: left;
  margin: 15px;
}
.cardsm img{
    width: 44px;
    height: 44px;
    border-radius: 30px;
padding: 5px;
}
.cardsm h6{
    font-weight: lighter;
    font-size: xx-small;
}
.cardsm p{
    font-weight: lighter;
}

.lightbluecard2{
    background: rgb(245, 245, 255);
    border-radius: 15px;
    padding: 30px 15px;
    margin-left: 34px;
    margin-right: 34px;
}

.positionbtn1{
    position: relative;
    bottom: 79px;
    left: 80%;
}
.positionbtn2 {
    position: relative;
    bottom: 115px;
    left: 85%;
    background-color: black;
    color: aliceblue;
}




.topimgcard{
    border: 1px solid rgb(220, 218, 218);
    border-radius: 15px;
    background-color: white;
    width: 200px;
}
.topimgcard img{
    border-radius: 15px 15px 0px 0px; 
}
.cardtexts{
    padding: 10px 20px;
}
.cardtexts h6{
    font-weight:lighter;
    padding: 10px 0px;
}
.cardtexts p{
    font-size: xx-small;
    text-decoration: underline;        }


.lightbluecard3{
        background: rgb(245, 245, 255);
        border-radius: 15px;
       
    }
    
    .fcol_1 {
        float: left;
        width: 40%;
      }
      
      .fcol_2 {
        float: left;
        width: 20%;
      }
      .fcol_2 li{
          list-style: none;
          line-height: 1.6;
      }
      .fcol_1 li{
        list-style: none;
        line-height: 1.6;
    }
    .fcol_1 ul{
        padding: 3px 84px;
    }
      .social{
        padding: 5px 66px;
    }      
      
      
      .frow:after {
        content: "";
        display: table;
        clear: both;
      }
      .foot{
          padding:61px;
        font-size: smaller;
        }


        .finput {
            left: -25%;
            top: 44px;
            padding: 5px;
            width: 124px;
        }
        .fbutton {
            padding: 7px 14px;
            background-color: rgb(171, 92, 244);
            border-radius: 5px;
            color: black;
            font-weight: bolder;
            text-decoration: none;

            font-size: small;
        }



/*our trusted clients*/
#otc.whitebg h6 {
    font-weight: lighter;
    font-size: smaller;
    color: #555;
  }
#otc .orow{
    display: flex;
}

#otc .smolimg img{
    width:33%;
}
/*two column 1*/
#tcct1 .trow{
    display: flex;
}
#tcct1 .tcol{
    flex: 50%;

    display: flex;
    justify-content: center;
}
#tcct1 .trow img{
    width: 50%;
}

#tcct1 .colText{
font-size: x-large;
width: 50%;
}
#tcct1 .colText strong{
    font-size: xx-small;
}


/*two column 2*/
#tcct2 .trow{
    display: flex;
    flex-direction: row-reverse;
}
#tcct2 .tcol{
    flex: 50%;

    display: flex;
    justify-content: center;
}
#tcct2 .trow img{
    width: 50%;
}

#tcct2 .colText{
font-size: x-large;
width: 50%;
}
#tcct2 .colText strong{
    font-size: xx-small;
}
/* why trust us */
#wtu img{
width:33%;
}
.navright{
    float:right;
}




/* responsive  sections*/
/* for width 1129px and less */
@media screen and (max-width: 1129px){
    .main-container nav {
        padding: 2% 7%;
        font-size: smaller;
      }

}
@media screen and (max-width: 1103px){
    .main-container nav {
        padding: 2% 0;
        width: 90%;
        margin:0 auto;
        font-size: smaller;
      }
      .navright{
          float:right;
      }
      .whitebox ul li img {
        width: 60%;
      }
      .whitebox ul li span {
        font-size: x-small;
        font-weight: bolder;
      }
      .whitebox {
        padding: 7px 13px;
        margin: 15px;
        background-color: white;
        border-radius: 5px;
        color: black;
        position: relative;
      }
      #tcct1 .trow img {
        width: 85%;
      }
      #tcct1 .colText {
        font-size: x-large;
        width: 100%;
      }
      #tcct2 .trow img {
        width: 85%;
      }
      #tcct2 .colText {
        font-size: x-large;
        width: 90%;
      }
      .positionbtn1 {
        position: relative;
        bottom: 79px;
        left: 77%;
      }
      .topimgcard {
        border: 1px solid rgb(220, 218, 218);
        border-radius: 15px;
        background-color: white;
        width: 96%;
      }
      .topimgcard img {
        border-radius: 15px 15px 0px 0px;
        width: 100%;
      }
      .lightbluecard {
        background: rgb(245, 245, 255);
        border-radius: 15px;
        padding: 13px 15px;
        margin-left: 35px;
        margin-right: 34px;
      }
      .leftcol {
        width: 20%;
      }
      .rightcol {
        width: 80%;
      }
      .cardsm p {
        font-weight: lighter;
        font-size: x-small;
      }
      .purplebtn {
        padding: 10px 12px;
        background-color: rgb(171, 92, 244);
        border-radius: 5px;
        color: black;
        font-weight: bolder;
        text-decoration: none;
        position: relative;
        left: 44%;
        font-size: smaller;
      }
      .fcol_1 ul {
        padding: 2px 40px;
      }
      

}
/* tablets */
@media screen and (max-width:767px){
    .navLogo {
        position: static;
        
        width: 147px;
        margin: 0 auto;
        display: flex;
      }
      .nav-item.naviLogo{
        
        float: none;
        
      }
      .nav-item{
          font-size: smaller;
      }
      .navchilds{
          clear: left;
      }
      .centerText {
        font-size: 6.5vw;
        text-align: center;
        padding: 5% 9%;
      }
      .purplebtn {
        padding: 10px 12px;
        background-color: rgb(171, 92, 244);
        border-radius: 5px;
        color: black;
        font-weight: bolder;
        text-decoration: none;
        position: relative;
        left: 37%;
        font-size: x-small;
      }
      .column {
        float: left;
        width: 50%;
      }
      #otc .orow {
        display: flex;
        flex-wrap: wrap;
        
      }
      #tcct1 .colText {
        font-size: x-large;
        width: 91%;
      }
      .whitebox3c {
        padding: 16px 12px;
        margin: 0px;
        background-color: white;
        border-radius: 5px;
        color: black;
        position: relative;
      }
      #wtu img {
        width: 55%;
      }
      .paddingrc {
        padding: 40px 9px;
      }
      .column2p{
          width: 100%;
      }
      .column2p img{
        display: none;
 
    }
    .column3p{
        width: 100%;
    }
    .positionbtn1 {
        position: relative;
        bottom: 79px;
        left: 85%;
      }
      .positionbtn2 {
        position: relative;
        bottom: 115px;
        left: 100%;
        background-color: black;
        color: aliceblue;
      }
      .topimgcard{
          margin:4%;
      }
      .purplebtn {
        padding: 10px 12px;
        background-color: rgb(171, 92, 244);
        border-radius: 5px;
        color: black;
        font-weight: bolder;
        text-decoration: none;
        position: relative;
        left: 37%;
        font-size: x-small;
        
        top: 18px;
      }
      .foot {
        padding: 13px;
        font-size: x-small;
      }
      .fcol_1 ul {
        padding: 0px 20px;
      }
      .social {
        padding: 5px 40px;
      }
      .social .column3p{
        width: 33.33%;
      }

}
/* mobiles */
@media screen and (max-width:480px){
    .nav-item.naviLogo {
        float: left;
      }
      .burger-nav {
        display: block;
       
        /* position: relative;
        top: 18px;
        left: 200px; */
       
      }
    .burger-nav img{
        width: 10%;
    }
    .navchilds{
        overflow: hidden;
        background-color: gainsboro;
         height:0; 
    }
    .navchilds.open{
        height: auto;
    }
    /* .navchilds .nav-item{
    float: none;
    width: 100%;
    } */
    .navchilds .greyed{
        display: none;
    }
    .navchilds{
        display: flex;
        flex-direction: column;
    margin: 0;
    }
    .navchilds .nav-item{
        padding: 10px;
        border-bottom: 1px solid black;
        
    }
    .blackbtn{
        width: fit-content;
    }
    .centerText {
      font-size: 10.5vw;
      text-align: center;
      padding: 5% 9%;
    }
    .purplebtn {
      padding: 25px 38px;
      background-color: rgb(171, 92, 244);
      border-radius: 5px;
      color: black;
      font-weight: bolder;
      text-decoration: none;
      position: relative;
      left: 29%;
      font-size: medium;
      top: 18px;
    }
    .column {
      width: 100%;
    }
    .whitebox ul li span {
      font-size: medium;
      font-weight: bolder;
    }
    #tcct1 .trow {
      display: block;
    }
    #tcct2 .trow {
      display: block;
    }
    #tcct1 .trow img {
      width: 85%;
      display: none;
    }
    #tcct2 .trow img {
      width: 85%;
      display: none;
    }
    #tcct1 .tcol {
     
      display: flex;
      justify-content: center;
    }
    #tcct2 .tcol {
     
      display: flex;
      justify-content: center;
    }
    .lightbluecard3 .row2p{
      padding: 0px!important;
    }
    .lightbluecard3 .row2p .column2p {
      width: 100%;
      padding: 14px;
    }
    .lightbluecard3 .row2p .column2p .purplebtn {
      padding: 8px 5px;
      background-color: rgb(171, 92, 244);
      border-radius: 5px;
      color: black;
      font-weight: bolder;
      text-decoration: none;
      position: relative;
      left: 29%;
      font-size: small;
      top: 0px;
    }
    .fcol_1 {
      float: left;
      width: 100%;
  padding: 22px 0px;
    }
    .fcol_2 {
      float: left;
      width: 100%;
      padding: 22px 0px;
    }
}